@import url('table.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Roboto', sans-serif;
  padding-left: 200px;
  padding-right: 200px;
}

.add-td {
  height: 50px;
  font-size: 17px;
  background-color: white;
  border: 1px solid grey;
}

.add-td:hover,
.form-modal__submit:hover {
  background-color: #00BF80;
  color: white;
  transition-duration: .2s;
}

.form-modal {
  font-size: 17px;
  position: fixed;
  z-index: 1;
  top: calc(50% - 175px);
  left: calc(50% - 175px);
  background: white;
  width: 350px;
  height: 350px;
  padding: 20px;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  box-shadow: 0 0 3px 3px rgba(34, 60, 80, 0.2);
}

.form-modal__close {
  position: absolute;
  display: block;
  border: none;
  top: 0;
  right: 0;
  font-size: 40px;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: black;
}

.form-modal__close:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.form-modal__input {
  display: block;
  height: 40px;
  font-size: 20px;
  /* margin: 10px; */
  padding: 0px;
}

.form-modal__text {
  text-align: center;
  margin: 10px;
}

.form-modal__submit {
  display: block;
  margin-top: 20px;
  height: 40px;
  padding: 0px;
  border-width: 1px;
}
#chart_div{
  margin-top: 30px;
}