.table {
  border-collapse: collapse;
  font-size: 17px;
}

.table__caption {
  font-size: 30px;
  margin: 20px;
  text-transform: uppercase;
}

.table__thead {
  background-color: #00BF80;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
}

th {
  padding: 20px;
  min-width: 150px;
  text-align: center
}

td {
  border: 1px solid grey;
  line-height: 60px;
  width: 150px;
  text-align: center;
  padding: 0 20px;
}

td:hover {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f6f6f6;
}

tr::nth-child(odd) {
  background-color: #e6e6e6;
}

.input-editing {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 17px;
  box-sizing: border-box;
}